@import'~scss/variables';
nav{
    background-color: $primary-color;
    a{
        color:$white;

    }
} 
li:hover{
    
    border-bottom: 1px solid red;
    a:hover {
        color:red;
        }
    
}