<nav class="navbar navbar-light bg-light p-4">
    <a class="navbar-brand">
        <img src="assets/logo.png" alt="">
    </a>
    <ul class="nav justify-content-end font-weight-bold ">
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/About">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/Profile">Profile</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" routerLink="/Contact us">Contact us</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" routerLink="/Registration">Registration</a>
        </li>
    </ul>


</nav>