<nav class="navbar navbar-light">
  <div class="container">
        <a routerLink="" class="navbar-brand" href="#" >
          <img src="{{ data.logo}}" width="70" height="70" class="d-inline-block align-top" alt="">
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a routerLink="About" class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="Contact us" class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item">
            <a routerLink="Register" class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a routerLink="Login" class="nav-link " href="#">Log in</a>
          </li>
        </ul>
  </div>
</nav>

