<footer>
	<section>
		<div class="container text-center">
			<div class="logo-footer">
				<img src="../assets/imgs/footer/logo.png">
			</div>
			<h4>Nullam consequat tristique justo in molestie</h4>
			<p>Aenean sit amet mi ultricies arcu aliquam varius id ac magna</p>
			<form>
				<input type="text" name="email" placeholder="Email Adress">
				<button>SIGN UP</button>
			</form>
			<div class="social">
				<img src="../assets/imgs/footer/001-pinterest.png">
				<img src="../assets/imgs/footer/002-instagram.png">
				<img src="../assets/imgs/footer/004-facebook.png">
				<img src="../assets/imgs/footer/003-twitter.png">
			</div>
			<p>CopyRight 2018 ITI Team 4</p>
		</div>
	</section>
</footer>
