footer {
	background-color: #f8f9fa;
	// padding: 30px 0px;
	.container {
		padding: 0px;
	}
	div.social  {
		padding: 40px 0px;
		img {
			width:40px;
		}
		
	}
	div.logo-footer img {
		width: 170px;
	}
}