<div class="container">
  <div class="row d-flex flex-column mb-5 justify-content-center">
    <h2 class="text-center mb-3">Lorem ipsem</h2>
    <hr class="mb-5">
    <div class="card-columns col-12">
      <div class="card" *ngFor="let cd of cardData; let i = index;">
        <img class="card-img-top" [src]="cd.url">
        <div class="card-body">
          <h5 class="card-title">{{cd.title}}</h5>
          <p class="card-text">{{cd.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
