<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
</head>

<body id="page-top">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top " id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../../assets/LogoRedWord.png" width="50px" height="50px"></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase  text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item mx-0 mx-lg-1">
              <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="#">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Contact us</a>
            </li>

            <li class="nav-item mx-0 mx-lg-1">
              <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Register</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Log in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Section image and text-->
    <div class="row ">

    	<div class="col-sm-12 col-md-6 my-5 container">
    		<h2 class="py-5 mt-5">Contact Us</h2>
    		<ul class="list-unstyled  ">
			  <li class="media mb-5">
			    <i class="fa fa-map-marker" style="font-size:72px"></i>
			    <div class="media-body pl-5 pt-2">
			      2215 John Daniel Drive <br/>
				  Clark, MO 65243
			    </div>
			  </li>
			  <li class="media my-5">
			    <i class="fa fa-envelope" style="font-size:46px"></i>
			    <div class="media-body pl-5 pt-2">
			      mail@example.com
			    </div>
			  </li>
			  <li class="media my-5">
			    <i class="fa fa-phone" style="font-size:60px"></i>
			    <div class="media-body pl-5 pt-2">
			      555-213-4567
			    </div>
			  </li>
			</ul>
    	</div>
    	<div class="col-sm-12 col-md-6 m-0 p-0">
    		<img src="../../assets/photo-1466786784937-3e682c802b14.jpg" width="100%" height="700px" class="pr-0 mr-0" >
    	</div>
	</div>
    <!--form-->
    <div class="container my-5">
    	<h2>Contact Us Now:</h2>
    	<div class="row  bg-light py-5 px-5">
    		<div class="col-sm-6">
    			<h2 class="text-center">Contact Form</h2>
    			<img src="../../assets/LogoRedWord.png" width="400px" height="400px" class="mx-auto" >
    		</div>
    		<div class="col-sm-6">
    			<form>
					  <div class="form-group">
					    <label for="exampleFormControlInput1">Email</label>
					    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					  </div>
					  <div class="form-group">
					    <label for="exampleFormControlTextarea1">Message</label>
					    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
					  </div>
					  <div class="row text-center">
					 	 <button class="btn btn-danger mx-auto px-5">Submit</button>
					  </div>
				</form>
    		</div>
    	</div>
	</div>
	<!--footer-->
	 <footer class="pt-4  pt-md-5 ">
        <div class="col-sm-4 mb-5 mb-lg-0 mx-auto my-auto">
                  <img src="../../assets/LogoRedWord.png" class="mx-auto" width="64px" height="64px">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center " href="#">
                           <i class="fa fa-fw fa-facebook">
                           </i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center " href="#">
                           <i class="fa fa-fw fa-google-plus">
                           </i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center " href="#">
                           <i class="fa fa-fw fa-twitter">
                           </i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center " href="#">
                           <i class="fa fa-fw fa-linkedin">
                           </i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center " href="#">
                           <i class="fa fa-fw fa-dribbble">
                           </i>
                        </a>
                     </li>
                  </ul>
               </div>
      </footer>
    
</body>
</html>