
<!-- <button (click)="getAboutData()"> DATA </button> -->
<div class="container">
  <section>
    <div class="row">
      <div class="col-6"> 
        <h4> {{aboutUsData.head1}} </h4>
        <p> {{aboutUsData.paragraph1}} </p>
        <p> {{aboutUsData.paragraph2}} </p>
        <h4> {{aboutUsData.head2}} </h4>
        <p> {{aboutUsData.paragraph3}} </p>
        <p> {{aboutUsData.paragraph4}} </p>
        <!-- <p> {{item.a[1]}} </p>  -->
      </div>
      <div class="col-6">
        <img src={{aboutUsData.pic1}}>
      </div>
    </div>
  </section>
  <section class="text-center">
    <h6>{{aboutUsData.head3}}</h6>
    <h4>{{aboutUsData.head4}}</h4>
    <p>{{aboutUsData.paragraph5}}</p>
    <div class="row">
      <div class="col-4">
        <img src={{aboutUsData.pic2}}>
        <h5>{{aboutUsData.head5}}</h5>
        <span>{{aboutUsData.span1}}</span>  
        <p>{{aboutUsData.paragraph6}}</p>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-github-alt"></i>
      </div>
      <div class="col-4">
          <img src={{aboutUsData.pic3}}>
          <h5>{{aboutUsData.head6}}</h5>
          <span>{{aboutUsData.span2}}</span>  
          <p>{{aboutUsData.paragraph6}}</p>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-dribbble"></i>
          <i class="fa fa-github-alt"></i>
      </div>
      <div class="col-4">
          <img src={{aboutUsData.pic4}}>
          <h5>{{aboutUsData.head7}}</h5>
          <span>{{aboutUsData.span2}}</span>  
          <p>{{aboutUsData.paragraph6}}</p>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-dribbble"></i>
          <i class="fa fa-github-alt"></i>
      </div>
    </div>
  </section>
</div>

