<p>
  aboutus works!
</p>
<div class="container">
<section class="mb-5">
    <div class="row ">

      <div class="col-sm-6 p-0">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1" title="Simple">
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
              aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
              beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
              VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
            <ng-template ngbPanelTitle>
              <span>&#9733;
                <b>Fancy</b> title &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="Disabled" [disabled]="true">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="col-sm-6 p-0">
          <img src="../../assets/images/img_6.jpg" class="w-100" alt="">
        </div>
      </div>
    </section>
    
    <Section class="mb-5">
      <div class="card-deck">
        <div class="card pt-2 pb-5">
          <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Walaa Muhammed</h5>
            <p class="card-text text-center">Front End Developer</p>
            </div>
          </div>
          <div class="card p-3">
            <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Somaya ElSayed </h5>
              <p class="card-text text-center">UI/UX Designer</p>
           
            </div>
          </div>
          <div class="card p-3">
            <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Menna Farghaly</h5>
              <p class="card-text text-center">UI/UX Designer</p>
              
              </div>
            </div>
          </div>
        </Section>
        

    <Section class="mb-5">
      <div class="card-deck">
        <div class="card p-3">
          <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Dina Khaled</h5>
            <p class="card-text text-center">Front End Developer</p>
           
          </div>
        </div>
        <div class="card p-3">
          <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Alaa Moustafa</h5>
            <p class="card-text">Front End Developer</p>
          
          </div>
        </div>
        <div class="card p-3">
          <img class="card-img-top rounded-circle user_img mx-auto" src="../../assets/images/user1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Esraa Abdou</h5>
            <p class="card-text text-center">Front End Developer</p>
           
          </div>
        </div>
      </div>
    </Section>