<h2>Contact Us</h2>
<hr>
<div class="container">
	<div class="text-center" >
	<h3 *ngFor="let item of getData">
		<i class="fas fa-map-marker"></i> {{item.address}}
	</h3>
	<h3 *ngFor="let item of getData">
		<i class="fas fa-phone"></i>{{item.telephoneNumber}}
	</h3>
	<h3 *ngFor="let item of getData">
		<i class="fas fa-phone"></i>{{item.mobileNumber}}
	</h3>
	<h3 *ngFor="let item of getData">
		<i class="fas fa-envelope"></i>{{item.email}}
	</h3>
	</div>
</div>


<div class="contact pb-5">
	<h2 class="pt-5 mt-4">Contact Form</h2>
<hr>

<div class="container">
	<form class="col-lg-12" name="conatctForm" #contactForm="ngForm" (ngSubmit)="contactSubmit(contactForm)" novalidate>
		<div class="form-row ">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-4">
					<input class="form-control mr-sm-2 rounded-0 w-100 "  type="text" placeholder="Name" name="user_name" [(ngModel)]="formData.user_name" required>
				</div>
				<div class="col-lg-4">
					<input class="form-control mr-sm-2 rounded-0 w-100"  type="text" placeholder="Email" name="user_email" [(ngModel)]="formData.user_email" required>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8 mt-4">
					<input class="form-control mr-sm-2 rounded-0 Message"  type="text" placeholder="Message" name="user_Message" [(ngModel)]="formData.user_Message" required>
				</div>
				<div class="col-lg-2"></div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-12 text-center my-3">
				<button [disabled]="!contactForm.valid" type="submit"class="btn">Submit</button>
			</div>
		</div>
	</form>
</div>
					
</div>


					