<div class="container mt-4 mb-4">
    <div class="part2">
        <h1>Our Services</h1>
        <div class="card-deck">

            <div class="card">
                <img class="card-img-top" src="assets/sv-3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Construction</h5>
                    <p class="card-text">This card has supporting text below as a <strong>natural lead-in to additional content.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/sv-5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Renovation</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natur content.<strong> This card has even longer content than the first to show that equal height action.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/sv-4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bolt Apartment</h5>
                    <p class="card-text">This is a wider card with supporting text below as a naturaent. <strong>This card has even longer content than the first to show that equal height action.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>

                </div>
            </div>
        </div>
        <div class="card-deck">

            <div class="card">
                <img class="card-img-top" src="assets/gl-6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Building</h5>
                    <p class="card-text">This card has supporting text below as a <strong>natural lead-in to additional content.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/gl-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Painting</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natur content.<strong> This card has even longer content than the first to show that equal height action.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/gl-2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Design</h5>
                    <p class="card-text">This is a wider card with supporting text below as a naturaent. <strong>This card has even longer content than the first to show that equal height action.</strong></p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-info">Enroll</button>

                </div>
            </div>
        </div>
    </div>

</div>