h1 {
    text-align: center;
    font-weight: bold;
    padding: 40px;
}

.container {
    .part2 {
        .card-deck {
            margin-bottom: 60px;
            .card {
                .card-title {
                    text-align: center;
                }
            }
        }
    }
}

.btn {
    background-color: #f6b60b;
    border: none;
}