<section class="bg-dark py-5" style="font-size: 0px">

    <h2 class="text-white font-weight-bold text-center">OUR WORKS</h2>
    <hr style="width: 45px;border: 2px solid orange ">
    <h6 class="text-secondary text-center mb-5 pb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    <!--    <div class="d-inline-block" style="width: 25%">-->
    <div class="d-inline-block ml-5 h-100">
        <img src="assets/r-5.jpg">
        <img src="assets/r-6.jpg">
        <img src="assets/r-7.jpg">
        <!-- <img src="assets/r-8.jpg"> -->

    </div>


</section>