/* You can add global styles to this file, and also import other style files */
.btn{
    font-size: 14px;
    color: #303233;
    text-decoration: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);  
}
.btn:hover{
    color:white;
    background-color: #fd7e14;
}
hr{
    border-top:solid 2px #fd7e14;
    width: 30px;
}