section{
    padding: 50px 0;
}
.container {
	padding: 50px 0px;
}
button {
	background-color: $mainColor;
	border: none;
	border-color: $mainColor;
}
button:hover {
	background-color: $secondaryColor;
	color: white;
	
}