<section  id="home" class="text-center" >
    <div id="home-cover" >
      <div id="home-content-box" class="container" >
        <div id="home-content-box-inner" >
          <div id="home-heading"class="text-center" >
            <h3>
              IDEAMARK
            </h3>
</div>
<p >t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
  </p> 
  <div id="home_btn">
            <a class="btn7 btn btn-lg first" href="#work" role="button"title="View our work">View our work</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="icons" class="container mt-5">
    <div class="row">
       <div class="col-sm-4 text-center"> <img class=" redo  " src="../../assets/images/png icons/customer.png"></div>
        <div class="col-sm-4 text-center"><img class=" redo " src="../../assets/images/png icons/website-design-symbol.png"></div>
        <div class="col-sm-4 text-center"><img class="  redo " src="../../assets/images/png icons/light-bulb.png"></div>
       </div>
       <div class="row">
         <p class="col-md-4 text-center">eadable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
         <p class="col-md-4 text-center">eadable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
         <p class="col-md-4 text-center">eadable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>

       </div>
  </section>
  
  <section id="various" class="mt-5">
  <div class="container">
    <div class="row ">
  <img class="col-md-6" src="../../assets/images/img_6.jpg">
  <div class="col-md-6">
      <div class="content-title">
          <h3 class=" vari mt-5">
            Advertising
          </h3>
          <hr >
          
    
      <p>eadable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
    </div>


  
    </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
        <div class="content-title">
            <h3 class="mt-5 vari" data-wow-duration="2s" data-wow-delay="0.1s">
              Marketing
            </h3>
            <hr  data-wow-duration="2s" data-wow-delay="0.1s">
          </div>
            
      
        <p>eadable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
      </div>
      <img class="col-md-6" src="../../assets/images/img_4.jpg"/>

        
          
    </div>
</div>
  </section>

