<!-- <form name="registerationForm" #registerationForm="ngForm" (ngSubmit)="register()" novalidate > -->
<div class="container w-50 mx-auto my-5">
    <h1 class="text-center">Registeration</h1>
    <div class="underline ml-auto mr-auto my-4"></div>

    <form name="registerationForm" #registerationForm="ngForm" (ngSubmit)="register(registerationForm.value)" novalidate>

        <div class="form-group">
            <label for="formGroupExampleInput">User Name</label>
            <input type="text" class="form-control rounded-0" id="formGroupExampleInput" placeholder="User Name" name="UesrName" [(ngModel)]=UesrName maxlength="10" required>
            <div class="alert alert-danger my-2" role="alert" *ngIf="!Uesr_name?.touched && !Uesr_name?.valid">
                User name is required
            </div>
        </div>

        <!-- <div class="form-group">
          <label for="exampleInputEmail">user name</label>
          <input type="text" class="form-control" placeholder="enter your name" name="userName"
          #userName="ngModel" [(ngModel)]="dataRegister.userName" required>
          <div class="alert alert-danger mb-2" role="alert" *ngIf="userName.touched && !userName.valid">
            username is required
           </div> 
      </div> -->



        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control rounded-0" id="inputEmail4" placeholder="Email" name="Uesr_Email" [(ngModel)]="Uesr_Email" required>
            <div class="alert alert-danger my-2" role="alert" *ngIf="!Uesr_Email?.touched && !Uesr_Email?.valid">
                Email is required
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control rounded-0" id="inputPassword4" placeholder="Password" name="Uesr_Password" [(ngModel)]="dataForm.Uesr_Password" maxlength="8" required>
            <div class="alert alert-danger my-2" role="alert" *ngIf="!Uesr_Password?.touched && !Uesr_Password?.valid">
                Password is required
            </div>
        </div>
        <!-- <div class="form-group">
          <label for="inputPassword6">Password</label>
          <input type="password" id="inputPassword6" class="form-control rounded-0" aria-describedby="passwordHelpInline" placeholder="Password" name="Uesr_Password" [(ngModel)]="dataForm.Uesr_Password" required>
          <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
          </small>
        </div> -->
        <label for="formGroupExampleInput2">Location</label>
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control rounded-0" placeholder="City" name="Uesr_City" [(ngModel)]="dataForm.Uesr_City" required>
            </div>
            <div class="col">
                <input type="text" class="form-control rounded-0" placeholder="State" name="Uesr_State" [(ngModel)]="dataForm.Uesr_State" required>
            </div>
            <div class="col">
                <input type="number" class="form-control rounded-0" placeholder="Zip" name="Uesr_Zip" [(ngModel)]="dataForm.Uesr_Zip" required>
                <!-- <div *ngIf="Uesr_Zip.touched && Uesr_State.touched  && Uesr_City.touched && !Uesr_Zip.valid && !Uesr_City.valid && !Uesr_State.valid">
             zip , city and state is required
           </div> -->
            </div>
        </div>
        <div class="form-group mt-3">
            <div class="form-check">
                <input class="form-check-input rounded-0" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label rounded-0" required for="invalidCheck2">
                Agree to terms and conditions
            </label>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-warning rounded-0 px-4" type="submit" [disabled]="!registerationForm.form.valid">Register</button>
        </div>
    </form>



</div>

<!-- </form> -->