<<<<<<< HEAD
=======
.register{
  background-size: cover;
  .text{
    h2{
      font-family:serif;
      font-size:40px;
    }
  
  }
  .form-row{
    label,input[type="submit"]{
      font-family:arial;
      font-size:20px;
    }
    span{
      font-size:20px;
    }
    ::placeholder {
      color:#a5a5a5fc;
    }

    input{
      padding:10px;
      font-size:20px;
      font-family: arial;
    }
    input[type='checkbox']{
      width:25px;
      height:23px;

    }
    .form-control {
      color:black;
    }


  }



}
>>>>>>> 6fe9c5c8de4dd9ebc579bc0aafb67a02e703d3c3
